CREATE OR REPLACE FUNCTION public.is_admin()
RETURNS boolean AS $$
DECLARE
  status boolean;
BEGIN
  SELECT is_admin INTO status FROM public.profiles WHERE id = auth.uid();
  RETURN coalesce(status, false);
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

DROP POLICY IF EXISTS "admins_all_profiles" ON profiles;
CREATE POLICY "admins_all_profiles" ON profiles FOR ALL USING (is_admin());
